@model Dishe

<div class="text-center">
    <h1 class="display-4">Edit @Model.Name</h1>
    <div><a asp-controller="Home" asp-action="VolverIndex">Home</a> | <a asp-controller="Home" asp-action="FormularioDish">Add a Dish</a></div>
</div>
<form method="POST" action="/actualiza/dish/@Model.Id" class="form-dish">
<!--<form method="POST" asp-action="ActualizaDish" asp-controller="Home" class="form-dish" asp-route-dish_id = "@Model.Id">-->
    <div class="cuadrodish">
        <div>
            <label asp-for="@Model.Chef">Chef's Name:</label>
            <input asp-for="@Model.Chef">
            <span asp-validation-for="@Model.Chef"></span>
        </div>
        <div>
            <label asp-for="@Model.Name">Name of Dish:</label>
            <input asp-for="@Model.Name">
            <span asp-validation-for="@Model.Name"></span>
        </div>
        <div>
            <label asp-for="@Model.Calories"># of Calories:</label>
            <input asp-for="@Model.Calories">
            <span asp-validation-for="@Model.Calories"></span>
        </div>
    </div>

    <div class="cuadrodish">
        <label asp-for="@Model.Tastiness">Tastiness:</label>
        <select id="Tastiness" asp-for="@Model.Tastiness">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    
    <div class="cuadrodish">
        <div>
            <label asp-for="@Model.Description">Description:</label>
            <textarea asp-for="@Model.Description"></textarea>
        </div>
        <button>Add Dish</button>
    </div>
    
</form>